.bagImg {
  width: 90%;
  height: 90%;
  grid-column: 1/-1;
  grid-row: 1;
}

.bagName {
  grid-column: 1/-1;
  grid-row: 2;
}
.bagPrice {
  grid-column: 1;
  grid-row: 3;
}

.addToCartIcon {
  grid-column: 2;
  grid-row: span 3;
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}
