.side-bar {
  grid-column: 1;
  grid-row: 2;
  /* padding-left: 10px; */
}
.colors {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
.color {
  width: 8px;
  height: 8px;
  background-color: red;
}
